---
layout: main
---
{% for post in site.posts limit:1 %}
<div class="site-blocks-cover overlay" style="background-image: url(/assets/images/cover-default.jpg);"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-8">       
        <h2 class="text-white font-weight-light mb-2 display-4">
          {{post.title}}
        </h2>
        <div class="text-white mb-4"><span
            class="text-white-opacity-05"><small>{{post.date | date: '%Y, %b %d'}}</small></span></div>
        <p><a href="{{post.url | prepend: site.baseurl}}" class="btn btn-primary btn-sm py-3 px-4 small">Materiały do
            odcinka</a></p>
        {% if post.apple %}
        <iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="175"
                style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;"
                sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"
                src="https://embed.podcasts.apple.com/pl/podcast/{{ post.apple }}&l=pl"></iframe>
        {% elsif post.spreaker %}
        <a class="spreaker-player" href="https://www.spreaker.com/episode/{{ post.spreaker }}"
          data-resource="episode_id={{ post.spreaker }}" data-width="100%" data-height="150px" data-theme="light"
          data-playlist="false" data-playlist-continuous="false" data-autoplay="false" data-live-autoplay="false"
          data-chapters-image="true" data-episode-image-position="right" data-hide-logo="true" data-hide-likes="false"
          data-hide-comments="false" data-hide-sharing="false" data-hide-download="true">Posłuchaj
          <b>"{{post.title}}"</b> na Spreaker</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endfor %}
<div class="site-section bg-light" id="content">
  <div class="container">
    {% for post in paginator.posts %}
    {% for post_c in site.posts limit:1 %}
    {% if post != post_c %}
    <div class="d-block d-md-flex podcast-entry bg-white mb-5" data-aos="fade-up">
      <div class="image" style="background-image: url('/assets/images/logo-default.jpg');"></div>
      <div class="text">
        <h3 class="font-weight-light"><a href="{{post.url | prepend: site.baseurl}}">{{post.title}}</a></h3>
        <div class="text-white mb-3"><span
            class="text-black-opacity-05"><small>{{post.date | date: '%Y, %b %d'}}</small></span></div>
        <p class="mb-4">
          {{ post.content | strip_html | truncatewords: 20 }}
        </p>
      </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </div>
  {% include pagination.html %}
</div>
