<footer class="site-footer border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">Czym są Patoarchitekci?</h3>
                    <p>{{ site.about-author }}</p>
                </div>
                <div class="mb-5">
                    <h3 class="footer-heading mb-4">Najnowsze odcinki</h3>
                    <div class="block-25">
                        <ul class="list-unstyled">
                            {% for post in site.posts limit:3 %}
                            <li class="mb-3">
                                <a href="{{post.url | prepend: site.baseurl}}" class="d-flex">
                                    <figure class="image mr-4">
                                        <img src="/assets/images/logo-default.jpg" alt="" class="img-fluid">
                                    </figure>
                                    <div class="text">
                                        <h3 class="heading font-weight-light">{{post.title}}</h3>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="row mb-5">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Menu</h3>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <ul class="list-unstyled">
                            {% for item in site.menu %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="footer-heading mb-4">Śledź nas</h3>
                        <div>
                            {% if site.social-facebook %}
                            <a href="{{ site.social-facebook }}" class="pl-0 pr-3"><i
                                    class="fab fa-facebook-f"></i></span></a>
                            {% endif %}
                            {% if site.social-twitter %}
                            <a href="https://twitter.com/{{ site.social-twitter }}" class="pl-3 pr-3"><i
                                    class="fab fa-twitter"></i></a>
                            {% endif %}
                            {% if site.social-github %}
                            <a href="https://github.com/{{ site.social-github }}" class="pl-3 pr-3"><i
                                    class="fab fa-github"></i></a>
                            {% endif %}
                            {% if site.social-linkedin %}
                            <a href="{{ site.social-linkedin }}" class="pl-3 pr-3"><i
                                    class="fab fa-linkedin-in"></i></span></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="mb-5">
                    <h3 class="footer-heading mb-2">Bądź na bieżąco!</h3>
                    <p>Zapisz się do newslettera Patoarchiteków i bądź na bieżąco z wszystkimi odcinkami oraz uzyskaj
                        dostęp do dodatkowych materiałów!</p>
                    <form action="#" method="post">
                        <div class="input-group mb-3">
                            <button class="btn btn-primary" type="button" id="button-addon2"
                                onclick="ml_account('webforms', '1767260', 'h9i8j2', 'show')">Zapisz się!</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
            <div class="col-md-12">
                <p>
                    Copyright &copy; 2020 Wszelkie prawa zastrzeżone Łukasz Kałużny & Szymon Warda | Szablon stworzony z
                    <i class="far fa-heart" aria-hidden="true"></i> przez <a href="https://colorlib.com"
                        target="_blank">Colorlib</a>
                </p>
            </div>
        </div>
    </div>
</footer>