<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://app.easy.tools">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
  <link rel="icon" href="/favicon.png">
  <script src="https://app.easy.tools/cookies/scripts/ed9244c3a950479fa8658838fa15d425.js"
    type="text/javascript"></script>
  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/o-podcascie/" property="article:author">
  <meta property="article:author" content="https://www.facebook.com/kaluznypro/" />
  <meta property="article:author" content="https://www.facebook.com/Indexoutofrange-454575682037657/" />
  {% endif %}
  {% if page.episode %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.episode }}-square.jpg" property="og:image">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.episode }}-portrait.jpg" property="og:image">
  {% elsif page.img %}
  {% if page.img contains '.' %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}" property="og:image">
  {% else %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Facebook.png" property="og:image">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-LinkedIn.png" property="og:image">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Twitter.png" property="og:image">
  {% endif %}
  {% else %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}" property="og:image">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
  {% endif %}

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@{{ site.site-twitter }}">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.episode %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.episode }}-square.jpg">
  {% elsif page.img %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Twitter.png">
  {% else %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}">
  {% endif %}

  <meta name="description" content="{{ page.description }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/702fdb20b2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/aos.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  {% include analytics.html %}
  <!-- MailerLite Universal -->
  <script>
    (function (w, d, e, u, f, l, n) {
      w[f] = w[f] || function () {
        (w[f].q = w[f].q || [])
          .push(arguments);
      }, l = d.createElement(e), l.async = 1, l.src = u,
        n = d.getElementsByTagName(e)[0], n.parentNode.insertBefore(l, n);
    })
      (window, document, 'script', 'https://assets.mailerlite.com/js/universal.js', 'ml');
    ml('account', '802946');
  </script>
  <!-- End MailerLite Universal -->
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // Get the current URL parameters
      const urlParams = new URLSearchParams(window.location.search);
      const promoCode = urlParams.get('promo');

      // If a promo code is present in the URL
      if (promoCode) {
        // Select all links on the page
        const links = document.getElementsByTagName('a');

        // Iterate through each link
        for (let i = 0; i < links.length; i++) {
          const link = links[i];
          const href = link.getAttribute('href');

          // Check if the link is to an easycart.pl domain
          if (href && href.includes('easycart.pl')) {
            // Create a URL object from the href
            const url = new URL(href);

            // Add or update the promo parameter
            url.searchParams.set('promo', promoCode);

            // Update the link's href with the new URL
            link.setAttribute('href', url.toString());
          }
        }
      }
    });
  </script>
  <script> window.addEventListener("message", (e) => { !!e.data.frameHeight && e.data.wallUuid === "patoszkolenia" && (document.getElementById("patoszkolenia").style.height = e.data.frameHeight); });</script>
</head>