<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>

  <!-- Edit site and author settings in `_config.yml` to make the social details your own -->

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
  <meta content="{{ page.title }}" property="og:title">
  {% else %}
  <meta content="{{ site.title }}" property="og:title">
  {% endif %}
  {% if page.title %}
  <meta content="article" property="og:type">
  {% else %}
  <meta content="website" property="og:type">
  {% endif %}
  {% if page.description %}
  <meta content="{{ page.description }}" property="og:description">
  {% else %}
  <meta content="{{ site.description }}" property="og:description">
  {% endif %}
  {% if page.url %}
  <meta content="{{ site.url }}{{ page.url }}" property="og:url">
  {% endif %}
  {% if page.date %}
  <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
  <meta content="{{ site.url }}/o-podcascie/" property="article:author">
  <meta property="article:author" content="https://www.facebook.com/kaluznypro/" />
  <meta property="article:author" content="https://www.facebook.com/Indexoutofrange-454575682037657/" />
  {% endif %}
  {% if page.img %}
  {% if page.img contains '.' %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}" property="og:image">
  {% else %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Facebook.png" property="og:image">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-LinkedIn.png" property="og:image">
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Twitter.png" property="og:image">
  {% endif %}
  {% else %}
  <meta content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}" property="og:image">
  {% endif %}
  {% if page.categories %}
  {% for category in page.categories limit:1 %}
  <meta content="{{ category }}" property="article:section">
  {% endfor %}
  {% endif %}
  {% if page.tags %}
  {% for tag in page.tags %}
  <meta content="{{ tag }}" property="article:tag">
  {% endfor %}
  {% endif %}

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.site-twitter }}">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}
  {% if page.img %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ page.img }}-Twitter.png">
  {% else %}
  <meta name="twitter:image" content="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.author-img }}">
  {% endif %}

  <meta name="description" content="{{ page.description }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <script src="https://kit.fontawesome.com/702fdb20b2.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/aos.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  {% include analytics.html %}
</head>