<div class="site-mobile-menu">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="fas fa-times js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-4 absolute transparent" role="banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-3">
                {% if page.url == "/index.html" %}
                <h1><a href="/" class="text-white h2">Patoarchitekci</a></h1>
                {% else %}
                <h2><a href="/" class="text-white h2">Patoarchitekci</a></h2>
                {% endif %}
            </div>
            <div class="col-9">
                <nav class="site-navigation position-relative text-right text-md-right" role="navigation">
                    <div class="d-inline-block ml-md-0 mr-auto py-3"><a href="#"
                            class="site-menu-toggle js-menu-toggle text-white"><i class="fas fa-bars h3"></i></span></a>
                    </div>
                    <ul class="site-menu js-clone-nav d-none">
                        {% for item in site.menu %}
                        <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                        <li><a href="https://podcasts.apple.com/pl/podcast/patoarchitekci/id1477067604?l=pl"><img
                                    src="/assets/images/podcast-apple.svg" width="100%" alt="Słuchaj podcastu w Apple Podcast!></a></li>
                        <li><a href=" https://open.spotify.com/show/13wiwR1mmHD3PTBcMt9J9J"><img
                                    src="/assets/images/podcast-spotify.png" width="100%" alt="Słuchaj podcastu w Spotify!></a></li>
                        <li><a
                                href="
                                    https://podcasts.google.com/?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy84NzIwMTBjL3BvZGNhc3QvcnNz"><img
                                    src="/assets/images/podcast-google.svg" width="100%"
                                    alt="Słuchaj podcastu w Google Podcast!"></a></li>
                        <li><a
                                href="https://www.youtube.com/watch?v=cYzTAFHtxg8&list=PLcDSzJIbSPdzO4U5jmA0N9g-yT6bGQGGr"><img
                                    src="/assets/images/podcast-youtube.png" width="100%"
                                    alt="Słuchaj podcastu w YouTube!"></a></li>
                        <li><a href="https://www.spreaker.com/show/4215515/episodes/feed"><img
                                    src="/assets/images/podcast-rss.png" width="100%"
                                    alt="Słuchaj podcastu przez ulubioną aplikację!"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>