<div class="container" data-aos="fade-up">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="site-block-27">
        <ul>
          {% if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}#content">&lt;</a></li>
          {% endif %}
          {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
          <li class="active"><a href="#content">{{ page }}</a></li>
          {% else %}
          {% if page == 1 %}
          <li><a href="/#content">{{ page }}</a></li>
          {% else %}
          <li><a href="{{ site.paginate_path | relative_url | replace: ':num', page }}#content">{{ page }}</a></li>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}#content">&gt;</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div> 
</div>