{{ define "title" }}{{ .Title }} - {{ .Site.Title }}{{ end }}
{{ define "main" }}
  <div class="flex relative">
    <div class="w-full">
      <!-- ======= DATA MODELING ======= -->
      <section
        class="bg-dark-black overflow-x-clip pt-10 sm:pt-[50px] pb-[64px] md:pb-20 lg:pb-[115px] px-[30px] xl:px-0">
        <div class="max-w-[1200px] mx-auto">
          <div class="flex flex-col gap-[15px] md:gap-[30px] mb-[34px] md:mb-12 xl:mb-[35px]">
            <h1
              class="uppercase font-tomorrow font-semibold max-sm:!leading-none text-custom-4xl sm:text-5xl xl:text-custom-6xl text-orange xl:!leading-[48px]">
              Modelowanie Danych</h1>
            <p class="text-[10px] sm:text-base font-normal text-white !leading-125">#MetrykiDORA #DevOps #IT #ProjektyIT
              #KingaGaździńska
            </p>
            <p class="text-orange text-xl lg:text-2xl font-medium uppercase pt-[18px] lg:pt-0"><span
                class="font-normal normal-case">Prowadzący:</span>
              Szymon
              Warda</p>
          </div>
          <div class="flex gap-5 relative">
            <div>
              <div class="w-full max-w-[775px] flex flex-col gap-[15px] md:gap-6 lg:mt-5">
                <p class="text-sm sm:text-base md:text-lg lg:text-xl text-white font-normal !leading-110">Masz już dość,
                  że
                  coś
                  się sypie, gdy w piątek o 17:00
                  chcesz iść do domu? Wbijaj do świata NoSQL z Szymonem
                  Wardą i
                  naucz się projektować systemy, które nie padną przy byle okazji.</p>
                <p class="text-sm sm:text-base md:text-lg lg:text-xl text-white font-normal !leading-110">To szkolenie
                  to
                  konkretny zastrzyk wiedzy, dzięki
                  któremu nie będziesz się bać, że miliony zapytań rozsypią Twój system.
                  NoSQL ogarniemy tak, byś spał spokojnie, nawet gdy ruch rośnie jak szalony.</p>
                <p class="text-sm sm:text-base md:text-lg lg:text-xl text-white font-normal !leading-110">Na tym
                  szkoleniu
                  szybko ogarniesz, co różni NoSQL od
                  relacyjnych baz i dlaczego to często najlepsza opcja przy ogromnym
                  ruchu. Dowiesz się, jak skalować systemy, by nie zjadał Cię stres przy każdym większym traffic peaku.
                  A
                  co
                  najważniejsze
                  – w końcu rozkminisz, gdzie NoSQL robi robotę, a kiedy lepiej powiedzieć mu ‘pas’.</p>
              </div>
              <button
                class="bg-white font-bold lg:text-custom-2xl mt-10 sm:mt-[55px] sm:text-lg text-[22.15px] leading-100 text-dark-black p-3 sm:py-4 w-full max-w-[379px] sm:px-3 pe-[18px] rounded-full lg:min-w-[243px] uppercase hover:bg-orange transition-all ease-linear duration-300 max-sm:h-[46px] max-sm:w-[291px]">
                Zapisz się
              </button>
            </div>
          </div>
        </div>
      </section>

      <!-- ==== SKILLS YOU WILL GAIN ==== -->
      <section
        class="pt-10 sm:pt-14 lg:pt-[71px] pb-[80px] min-[576px]:pb-[120px] md:pb-[170px] min-[992px]:pb-[277px] bg-white px-[30px] 2xl:px-0 relative">
        <img src="/img/png/yellow-layer-two.png" alt="yellow-layer-two"
          class="absolute w-full bottom-[-1px] left-0 xl:h-[232px]">
        <div class="max-w-[1200px] mx-auto">
          <p
            class="text-2xl sm:text-custom-2xl lg:text-custom-3xl text-dark-black font-tomorrow font-semibold mb-6 sm:mb-8 lg:mb-10 !leading-120">
            UMIEJĘTNOŚCI, KTÓRE ZDOBĘDZIESZ</p>
          <div class="flex flex-col gap-[35px] md:gap-[57px]">
            <div id="skills-list" class="md:space-y-4 space-y-2.5 space-x-3"></div>
            <div class="flex flex-col">
              <h3
                class="text-dark-black font-semibold font-tomorrow text-2xl sm:text-custom-2xl max-lg:pb-3 max-md:pb-[5px] lg:text-custom-3xl xl:text-4xl !leading-120 lg:!leading-187">
                PROGRAM SZKOLENIA</h3>
              <div id="module-container" class="space-y-4"></div>
            </div>
          </div>
        </div>
      </section>

      <!-- ===== TRENER SECTION ===== -->
      <section
        class="pt-5 pb-[166px] md:pb-0 bg-yellowdark px-[30px] max-md:overflow-hidden md:overflow-x-clip relative">
        <img
          class="absolute bottom-[13%] left-[10%] size-[60px] md:top-[-20%] xl:top-[-40%] lg:size-[105px] md:left-[26%] animate-float2 z-10 min-[2100px]:!left-[clamp(40px,39vw,26%)] min-[4000px]:!left-[clamp(40px,39vw,35%)]"
          src="/img/svg/top-left-ellipse.svg" alt="top-left-ellipse">
        <img
          class="absolute lg:h-[60px] lg:w-8 h-[40px] w-6 left-[50%] lg:left-[40%] top-0 max-md:hidden lg:top-[-12%] xl:top-[-20%]"
          src="/img/svg/light-img.svg" alt="light-img">
        <div class="max-w-[1200px] mx-auto">
          <div class="flex max-w-[791px] relative">
            <div class="max-lg:pb-[50px] max-md:pb-0">
              <h3 class="md:text-4xl text-2xl text-dark-black font-semibold uppercase font-tomorrow leading-100">TRENER
              </h3>
              <p
                class="text-2xl max-md:hidden text-dark-black font-semibold font-tomorrow uppercase leading-[145%] pt-5 ml-[190px] relative">
                SZYMON WARDA
                <span><img class="absolute top-0 min-w-[286px] left-[-37px] pointer-events-none"
                    src="/img/svg/white-circle.svg" alt="white circle"></span>
              </p>
              <p class="font-medium text-dark-black md:text-xl !leading-[120%] pt-[30px] md:pt-[46px] max-w-[386px]">
                <span class="font-bold">Szymon
                  Warda</span>
                - IT-owy Gandalf z czasów Internet Explorera 6. Jeśli w Twojej bazie panuje chaos, on zrobi tam
                porządek.
              </p>
              <p class="font-medium text-dark-black md:text-xl !leading-[120%] pt-2.5 max-w-[386px]">Od lat wyciąga
                firmy
                z
                opresji przy
                dużym
                ruchu i zaraża pasją do technologii. </p>
              <p
                class="md:hidden text-dark-black font-semibold font-tomorrow uppercase pl-5 leading-[145%] pt-10 relative">
                SZYMON WARDA
                <img class="absolute top-8 max-md:hidden md:max-w-[184px] left-0 h-[38px] pointer-events-none"
                  src="/img/svg/white-circle.svg" alt="white circle">
                <img class="absolute top-8 md:hidden min-w-[190px] left-0 h-[38px] pointer-events-none"
                  src="/img/png/small-white-line.png" alt="white circle">
              <p
                class="font-medium text-dark-black md:text-xl leading-110 pt-10 max-w-[210px] md:pt-2.5 md:max-w-[386px]">
                Po tym kursie
                piątkowy deploy o 17:00 nie
                będzie Ci straszny, bo wreszcie ogarniesz NoSQL jak mistrz.</p>
            </div>
            <img
              class="lg:max-w-[383px] lg:max-h-[465px] h-[352px] sm:h-[385px] lg:h-[468px] max-w-[300px] object-cover max-lg:absolute md:bottom-0 md:right-0 bottom-[-49%] right-[-110px]"
              src="/img/webp/trener-photo.webp" alt="trener photo">
          </div>
        </div>
      </section>

      <!-- ===== DLACZEGO SECTION ===== -->
      <section class="bg-dark-black pt-10 pb-[60px] lg:pt-[68px] lg:pb-[89px] px-[30px]">
        <div class="max-w-[1200px] mx-auto">
          <h3
            class="uppercase font-semibold font-tomorrow text-2xl md:text-4xl lg:text-custom-4xl text-red leading-100 lg:pb-[55px] pb-[34px] md:pb-10 !leading-110 lg:!leading-[88%]">
            DLACZEGO WARTO SKORZYSTAĆ</h3>
          <div id="dlaczego-container" class="flex flex-col md:gap-5 gap-[25px]"></div>
          <p
            class="lg:text-2xl max-md:pr-3 text-xl font-bold uppercase text-white max-w-[796px] lg:pt-[46px] pt-[42px] !leading-[115%] md:!leading-[120%]">
            <span class="text-red">To szkolenie to nasz bestseller, a liczba miejsc jest ograniczona.</span> Są jeszcze
            wolne miejsca, ale nie gwarantujemy, że zaraz nie znikną.
          </p>
        </div>
      </section>

      <!-- ===== PRICE SECTION ===== -->
      <section>
        <div class="py-[45px] px-7 bg-orange flex flex-col gap-6 w-full min-[1400px]:hidden">
          <div>
            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black pb-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/price-icon.svg" alt="price-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Cena</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">Cena
                </p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-100">2999 zł netto</p>
                <p class="text-dark-black fs-custom-md !leading-100 sm:!text-xs font-medium uppercase">3688,77 zł brutto
                </p>
              </div>
            </div>

            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black py-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/calendar-icon.svg" alt="calendar-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Termin</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
                  Termin
                </p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-100"><span class="block">12
                    marca
                    2025</span> 13 marca
                  2025</p>
                <p class="text-dark-black fs-custom-md !leading-100 sm:!text-xs font-medium uppercase">9:00 – 16:00</p>
              </div>
            </div>

            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black py-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/location-icon.svg" alt="location-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Lokalizacja</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
                  Lokalizacja
                </p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-100">Online</p>
                <p class="text-dark-black fs-custom-md !leading-100 sm:!text-xs font-medium uppercase">Zoom</p>
              </div>
            </div>

            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black py-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/contact-number-icon.svg" alt="location-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Liczba miejsc</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
                  Liczba
                  miejsc
                </p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-100">15</p>
                <p class="text-dark-black fs-custom-md !leading-100 sm:!text-xs font-medium uppercase">kameralnie, żeby
                  każdy
                  skorzystał</p>
              </div>
            </div>

            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black py-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/guarantee-icon.svg" alt="guarantee-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Gwarancja</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
                  Gwarancja</p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-100">30 dni na zwrot
                </p>
                <p class="text-dark-black fs-custom-md !leading-100 sm:!text-xs font-medium uppercase">jeśli kurs Ci nie
                  podejdzie</p>
              </div>
            </div>

            <div class="flex items-start gap-[60px] sm:justify-between w-full border-b border-dark-black py-2.5">
              <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
                <img src="/img/svg/certificate-icon.svg" alt="certificate-icon"
                  class="max-sm:min-w-[45px] h-[45px] sm:w-7 sm:h-7">
                <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white max-sm:hidden">Certyfikat</p>
              </div>
              <div class="max-w-[248px] w-full flex flex-col gap-[15px] sm:gap-[5px]">
                <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
                  Certyfikat</p>
                <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120"><span
                    class="block text-nowrap">Oficjalne
                    potwierdzenie</span>
                  zdobytych
                  skilli
                </p>
              </div>
            </div>
          </div>
          <p class="md:mt-3 mt-1.5 uppercase font-tomorrow text-white font-semibold leading-110 text-base">Masz pytania?
            <br class="sm:hidden"> Chcesz zorganizować
            to <span class="sm:block">szkolenie w formule zamkniętej? <br class="sm:hidden"></span>
            Skontaktuj się z naszym koordynatorem:
          </p>
          <div class="flex flex-col">
            <p class="text-dark-black font-semibold text-[13px] md:text-sm !leading-120">Mikołaj Szczerbicki</p>
            <a class="text-dark-black !inline-block w-max font-medium text-[13px] md:text-sm !leading-120"
              href="tel:48667013893">+48
              667 013
              893</a>
            <a class="text-dark-black !inline-block w-max font-medium text-[13px] md:text-sm !leading-120"
              href="mailto:mikołaj.szczerbicki@protopia.tech">mikołaj.szczerbicki@protopia.tech</a>
          </div>
          <button
            class="bg-white font-bold uppercase lg:text-custom-2xl sm:text-lg text-[22px] leading-100 text-dark-black max-sm:h-[46px] p-3 sm:py-4 w-full max-w-[379px] sm:px-3 pe-[18px] rounded-full lg:min-w-[243px] transition-all ease-linear duration-300 hover:bg-black hover:text-white">
            Zapisz się
          </button>
        </div>
      </section>

      <!-- ===== FAQ SECTION ===== -->
      <section
        class="lg:pt-[85px] md:pt-[60px] pt-[40px] sm:pb-[160px] pb-[100px] md:pb-[220px] lg:pb-[326px] relative px-[30px]">
        <img class="absolute left-7 max-md:min-w-[76px] max-md:max-w-[88px] max-md:h-20 md:left-12 top-2.5 min-[2100px]:!left-[clamp(40px,39vw,26%)] min-[4000px]:!left-[clamp(40px,39vw,36%)]"
          src="/img/svg/rounded-red-arrow.svg" alt="rounded-red-arrow">
        <div class="max-w-[1200px] mx-auto ">
          <div class="max-w-[800px]">
            <h3
              class="uppercase text-center font-semibold font-tomorrow text-red text-[26.4px] md:text-custom-4xl lg:text-custom-6xl leading-100 pb-[33px] md:pb-[50px] lg:pb-[60px]">
              FAQ
            </h3>
            <div id="faq-container" class="md:space-y-6 space-y-4"></div>
          </div>
        </div>
      </section>
    </div>
    <div class="right-0 sticky top-0 h-max w-0 -right-[9%] max-[1399px]:hidden min-[2100px]:!right-[clamp(40px,39vw,16%)] min-[3000px]:!right-[clamp(40px,39vw,26%)] min-[4500px]:!right-[clamp(40px,39vw,34%)] min-[7000px]:!right-[clamp(40px,39vw,42%)]">
      <div
        class="p-10 bg-orange h-max flex flex-col  translate-x-[-100%] max-w-[507px] !min-w-[507px] right-0 gap-6 w-full relative z-20 max-lg:hidden">
        <div class="flex items-start justify-between w-full border-b border-dark-black pb-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/price-icon.svg" alt="price-icon" class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Cena</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">Cena
            </p>
            <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120">2999 zł netto</p>
            <p class="text-dark-black fs-custom-md sm:!text-xs font-medium uppercase">3688,77 zł brutto</p>
          </div>
        </div>
        <div class="flex items-start justify-between w-full border-b border-dark-black py-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/calendar-icon.svg" alt="calendar-icon" class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Termin</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">Termin
            </p>
            <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120"><span class="block">12
                marca
                2025</span> 13 marca
              2025</p>
            <p class="text-dark-black fs-custom-md sm:!text-xs font-medium uppercase">9:00 – 16:00</p>
          </div>
        </div>
        <div class="flex items-start justify-between w-full border-b border-dark-black py-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/location-icon.svg" alt="location-icon" class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Lokalizacja</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
              Lokalizacja
            </p>
            <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120">Online</p>
            <p class="text-dark-black fs-custom-md sm:!text-xs font-medium uppercase">Zoom</p>
          </div>
        </div>
        <div class="flex items-start justify-between w-full border-b border-dark-black py-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/calendar-icon.svg" alt="location-icon" class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Liczba miejsc</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">Liczba
              miejsc
            </p>
            <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120">15</p>
            <p class="text-dark-black fs-custom-md sm:!text-xs font-medium uppercase">kameralnie, żeby każdy
              skorzystał</p>
          </div>
        </div>
        <div class="flex items-start justify-between w-full border-b border-dark-black py-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/guarantee-icon.svg" alt="guarantee-icon"
              class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Gwarancja</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-[7px] sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
              Gwarancja</p>
            <p class="font-bold text-dark-black text-sm sm:text-lg uppercase !leading-120">30 dni na zwrot
            </p>
            <p class="text-dark-black fs-custom-md sm:!text-xs font-medium uppercase">jeśli kurs Ci nie podejdzie</p>
          </div>
        </div>
        <div class="flex items-start justify-between w-full border-b border-dark-black py-2.5">
          <div class="flex gap-2 items-center sm:w-full max-w-[140px]">
            <img src="/img/svg/certificate-icon.svg" alt="certificate-icon"
              class="w-[45px] h-[45px] sm:w-7 sm:h-7">
            <p class="uppercase font-tomorrow font-semibold fs-custom-lg text-white">Certyfikat</p>
          </div>
          <div class="max-w-[248px] w-full flex flex-col gap-7 sm:gap-[5px]">
            <p class="uppercase font-tomorrow font-semibold leading-100 text-sm text-white mb-2 flex sm:hidden">
              Gwarancja</p>
            <p class="font-bold text-dark-black text-sm sm:text-[15px] uppercase !leading-120"><span
                class="block text-nowrap">Oficjalne
                potwierdzenie</span>
              zdobytych
              skilli
            </p>
          </div>
        </div>
        <p class="mt-3 uppercase font-tomorrow text-white !leading-120 font-semibold text-base">Masz pytania? Chcesz
          zorganizować
          to <span class="block">szkolenie w formule zamkniętej?</span>
          Skontaktuj się z naszym koordynatorem:</p>
        <div class="flex flex-col">
          <p class="text-dark-black font-semibold text-sm !leading-120">Mikołaj Szczerbicki</p>
          <a class="text-dark-black !inline-block w-max font-medium text-sm !leading-120" href="tel:48667013893">+48
            667 013
            893</a>
          <a class="text-dark-black !inline-block w-max font-medium text-sm !leading-120"
            href="mailto:mikołaj.szczerbicki@protopia.tech">mikołaj.szczerbicki@protopia.tech</a>
        </div>
        <button
          class="bg-white uppercase font-bold lg:text-custom-2xl sm:text-lg text-[22px] leading-100 text-dark-black max-sm:h-[46px] p-3 sm:py-4 w-full max-w-[379px] sm:px-3 pe-[18px] rounded-full lg:min-w-[243px] transition-all ease-linear duration-300 hover:bg-black hover:text-white">
          Zapisz się
        </button>
      </div>
    </div>
  </div>
{{ end }}