<!-- ===== Swiper for testimonials ===== -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

<script src="{{ .Site.BaseURL }}js/common.js"></script>
{{ if .IsHome }}
<script src="{{ .Site.BaseURL }}js/main.js"></script>
{{ end }}
{{ if eq .Type "contact" }}
<script src="{{ .Site.BaseURL }}js/contact.js"></script>
{{ end }}
{{ if eq .Type "training" }}
  {{ if eq .Layout "list" }}
<script src="{{ .Site.BaseURL }}js/all-trainings.js"></script>
  {{ else }}
<script src="{{ .Site.BaseURL }}js/training.js"></script>
  {{ end }}
{{ end }}
{{ if eq .Type "episodes" }}
  {{ if eq .Layout "single" }}
<script src="{{ .Site.BaseURL }}js/podcast.js"></script>
  {{ end }}
{{ end }}