<!-- Open Graph Meta Tags -->
<meta property="og:type" content="website">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if .Params.og_landscape }}
<meta property="og:image" content="{{ .Site.BaseURL | strings.TrimSuffix "/" }}{{ .Params.og_landscape }}">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="630">
{{ end }}
{{ if .Params.og_square }}
<meta property="og:image" content="{{ .Site.BaseURL | strings.TrimSuffix "/" }}{{ .Params.og_square }}">
<meta property="og:image:width" content="1080">
<meta property="og:image:height" content="1080">
{{ end }}

<!-- Twitter Card Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ .Site.Params.social.twitter | default "@patoarchitekci" }}">
<meta name="twitter:creator" content="{{ .Site.Params.social.twitter | default "@patoarchitekci" }}">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ .Params.description | default .Site.Params.description }}">
{{ if .Params.og_landscape }}
<meta name="twitter:image" content="{{ .Site.BaseURL | strings.TrimSuffix "/" }}{{ .Params.og_landscape }}">
{{ end }}

<!-- Additional Social Meta Tags -->
{{ if .Params.youtube_id }}
<meta property="og:video" content="https://www.youtube.com/watch?v={{ .Params.youtube_id }}">
<meta property="og:video:type" content="text/html">
{{ end }}
<meta property="article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
{{ if .Params.tags }}
{{ range .Params.tags }}
<meta property="article:tag" content="{{ . }}">
{{ end }}
{{ end }}
