---
title: '#{{ episode.episode_number }} {{ episode.title | replace("\n", " ") | replace("\r", " ") | escape }}'
date: {{ episode.date }}T08:00:00+02:00
episode: "{{ episode.episode_number }}"
tags: [{{ tags | map('tojson') | join(', ') }}]
description: "{{ seo_description | default(episode.description, true) | escape }}"
seo_keywords: "{{ seo_keywords | default('', true) | escape }}"

# Hugo fields
youtube_id: "{{ episode.youtube_id | default('', true) }}"
youtube_url: "{{ episode.youtube_embed_url | default('', true) }}"

# Social media images (poprawione nazwy)
og_landscape: "{{ episode.og_landscape_path | default('/img/' + episode.episode_number|string + '-landscape.webp', true) }}"
og_square: "{{ episode.og_square_path | default('/img/' + episode.episode_number|string + '-square.webp', true) }}"

# Intro for episode
intro: |
  {{ episode.intro | replace('\n', '\n  ') | default('', true) }}

# Links for the episode
links:
{% for link in episode.links | default([], true) %}
  - title: "{{ link.title | escape }}"
    url: "{{ link.url }}"
{% endfor %}
---

{{ episode.transcription }}