---
layout: default
---

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
      <p>{{site.about-author}}</p>
    </div>
  </header> <!-- End Header -->
  <nav class="about">
      <p><a href="/o-podcascie">O podcaście</a></p>
      <p><b>Słuchaj na:</b></p>
      <a href="https://podcasts.apple.com/pl/podcast/patoarchitekci/id1477067604?l=pl"<a>Apple Podcasts</a>
      <a href="https://www.youtube.com/channel/UC9_1emyCJi4YhLQWOAEIaMQ/videos">YouTube</a>
      <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy84NzIwMTBjL3BvZGNhc3QvcnNz">Google Podcast</a>
      <a href="https://open.spotify.com/show/13wiwR1mmHD3PTBcMt9J9J">Spotify</a>
      <a href="https://anchor.fm/patoarchitekciio">Anchor</a>
      <a href="https://pca.st/16k1">Pocket Casts</a>
      <a href="https://overcast.fm/itunes1477067604/patoarchitekci">Overcast</a>
  </nav>
  <footer>
    <section class="contact">
      <h3 class="contact-title">Kontakt</h3>
      <ul>
        {% if site.social-twitter %}
          <li><a href="https://twitter.com/{{ site.social-twitter }}" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        {% else %}
        {% endif %}
        {% if site.social-facebook %}
          <li><a href="https://facebook.com/{{ site.social-facebook }}" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        {% else %}

        {% endif %}
        {% if site.social-github %}
          <li class="github"><a href="http://github.com/{{site.social-github}}" target="_blank"><i class="fa fa-github"></i></a></li>
        {% else %}

        {% endif %}
        {% if site.social-linkedin %}
          <li class="linkedin"><a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        {% else %}

        {% endif %}
        {% if site.social-email %}
          <li class="email"><a href="mailto:{{site.social-email}}"><i class="fa fa-envelope-o"></i></a></li>
        {% else %}

        {% endif %}
      </ul>
    </section> <!-- End Section Contact -->
    <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; Szymon Warda & Łukasz Kałużny</p>
    </div>
  </footer> <!-- End Footer -->
</aside> <!-- End Sidebar -->
<div class="content-box clearfix">
  {{ content }}
</div>
